<form [formGroup]="datePickForm" class="flex items-center gap-4">
  <div class="flex-1">
    <mat-form-field class="w-full !mb-0 align-middle">
      <mat-label>Select a week</mat-label>
      <mat-date-range-input
        [rangePicker]="picker"
        [min]="todayDate"
        formGroupName="dateRange"
      >
        <input matStartDate placeholder="Start date" formControlName="start" />
        <input matEndDate placeholder="End date" formControlName="end" />
      </mat-date-range-input>

      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </div>

  <button
    type="button"
    (click)="onSubmit()"
    class="px-6 py-2 rounded-lg bg-blue-600 text-white font-medium shadow-md hover:bg-blue-700 transition"
  >
    Filter
  </button>
</form>
